@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Recursive:wght@300..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Recursive:wght@300..1000&display=swap');

@import url(variables.css);
@import url(1-acordiones/estilo_acordion.css);
@import url(2-botones/boton.css);
@import url(3-tarjetas/tarjeta.css);
@import url(4-grupo_de_listas/lista.css);
@import url(5-barra_de_navegacion/barra-navegacion.css);
@import url(6-alerta/alertas.css);
@import url(7-menu_desplegable/menu_desplegable.css);
@import url(8-insignia/insignia.css);
@import url(9-paginacion/paginacion.css);
@import url(10-tablas/tablas.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    padding: 20px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin: 0 auto;
    font-size: 40px;
}