:root{
  --negro:#000;
  --blanco:#fff;
  /* colores acordion */
  --naranja:#ff8f3f;
  --gris_claro:#f2f2f2;
  --rosa_palido:#e4d5d5;
  --amarillo_palido:#F5F5DC;
  /* colores grupo botones */
  --color_verde_oscuro:#003C43;
  --color_verde_marino:#135D66;
  --color_verde_agua:#77B0AA;
  --color_verde_menta:#E3FEF7;
  /* colores tarjetas */
  --azul_oscuro:#10133a;
  --azul_marino:#010b8b;
  --azul_celeste:#0be7fb;
  --amarillo_mostaza:#fecc50;
  --rojo_calido:#ff6d69;

  --azul_noche:#090967;
  --azul_pastel:#7079d3;
  --azul_grisaceo:#b1b3c9;
}