:root{
  /* colores acordion */
  --naranja:#ff8f3f;
  --gris_claro:#f2f2f2;
  --rosa_palido:#e4d5d5;
  --amarillo_palido:#F5F5DC;
  /* colores grupo botones */
  --verde_oscuro:#003C43;
  --verde_marino:#135D66;
  --verde_agua:#77B0AA;
  --verde_menta:#E3FEF7;
  /* colores tarjetas */
  --azul_oscuro:#10133a;
  --azul_marino:#010b8b;
  --azul_celeste:#0be7fb;
  --amarillo_mostaza:#fecc50;
  --rojo_calido:#ff6d69;
  /* colores grupo de listas */
  --azul_noche:#090967;
  --azul_pastel:#7079d3;
  --azul_grisaceo:#b1b3c9;
  /* colores barra de navegacion */
  --azul_opaco:#007BFF33;
  --azul_brillante:#007BFF;
  --azul_medianoche:#0056b3;
  --gris_plata:#c0c0c0;
  --negro:#000;
  --blanco:#fff;
  /* colores de alertas */
  --gris_blanco_humo:#f5f5f5;
  --gris_plateado:#e0e0e0;
  --gris_medio:#666666;
  --gris_oscuro:#333333;
  --rosa_pastel:#f5c6c6;
  --rosa_pastel_oscuro:#f1b0b7;
  --rojo_intenso:#a71d2a;
  --verde_pastel:#a4d8a7;
  --verde_pastel_medio:#9fcb9f;
  --verde_bosque:#004d00;
  --azul_celeste_intenso:#99c2ff;
  --azul_claro:#80b3ff;
  --azul_marino_profundo:#002d72;
  --amarillo_dorado_claro:#ffecb3;
  --amarillo_brillante:#ffd54f;
  --mostaza_oscuro:#6d4700;
  /* colores menu desplegable */
  --verdoso_grisaceo:#5C8374;
  --azul_marino_oscuro:#092635;
  --verde_aqua_claro:#9EC8B9;
  --verde_petroleo:#1B4242;
  /* colores insignia */
  --azul_cielo_nocturno:#164169;
  --gris_azulado_claro:#d0e1e0;
}