.contenedor4{
    width:400px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color1);
    border-radius: 5px;
}

.componente4{
    width: 350px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    background-color: var(--color2);
    border-radius: 5px;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.acordeon__texto4{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color3);
    margin: 5px 0;
    position: relative;
    list-style: none;
}
.acordeon__texto4::before{
    content: '▼';
    font-size: 20px;
    color: #000 ;
    position: absolute;
    right: 10px;
}
.acordeon__texto4:hover{
    text-align: center;
    transition: all 10s;
}

.acordeon__contenido4{
    padding: 10px;
    padding: 10px;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    background-color: var(--color4);
}
