.contenedor_grupo3{
    margin: 30px auto;
    list-style-type: none;
}
.listas3{
    display: block;
    width: 340px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    border: solid 2px var(--negro);
    cursor: pointer;
    background-color: var(--colorL);
    color: var(--colorJ);
    font-size: 18px;
    font-family: "Recursive", sans-serif;
    text-align: center;
}
.listas3:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.listas3:last-of-type{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.listas3:hover{
    background-color: var(--colorJ);
    color: var(--colorL);
    box-shadow: 0 4px 8px var(--colorJ),0 0 15px var(--colorK) ;
    border-color: var(--colorL);
    width: 350px;
    height: 55px;
}