.contenedor_grupo4{
    margin: 30px auto;
    list-style-type: none;
}
.listas4{
    display: block;
    width: 340px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    border: solid 2px var(--negro);
    cursor: pointer;
    background-color: var(--colorJ);
    color: var(--colorL);
    font-size: 18px;
    font-family: "Recursive", sans-serif;
}
.listas4:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.listas4:last-of-type{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.listas4:hover{
    background-color: var(--colorK);
    box-shadow: 0 8px 16px var(--colorK);
    width: 350px;
    height: 55px;
}
.listas4:active{
    background-color: var(--colorL);
    box-shadow: 0 4px 8px var(--colorL);
    color: var(--colorJ);
    width: 340px;
    height: 50px;
    text-align: center;
    transition: all 0.2s;
}

