.contenedor_grupo5{
    margin: 30px auto;
    list-style-type: none;
}
.listas5{
    display: block;
    width: 340px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    border: solid 2px var(--negro);
    cursor: pointer;
    background-color: var(--colorJ);
    color: var(--colorL);
    font-size: 18px;
    font-family: "Recursive", sans-serif;
    text-align: center;
}
.listas5:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.listas5:last-of-type{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.listas5:hover{
    background: linear-gradient(to bottom right,var(--colorK), var(--colorJ),var(--colorL));
    color: var(--colorL);
    font-size: 20px;
    border: 4px solid var(--colorL);
    transition: all 0.3s;
}

