.contenedor_grupo2{
    margin: 30px auto;
    list-style-type: none;
}
.listas2{
    display: block;
    width: 340px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    border: solid 2px var(--negro);
    cursor: pointer;
}
.listas2:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.listas2:last-of-type{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.listas2:hover{
    background-color: var(--colorK);
    color: var(--colorJ);
    font-size: 15px;
    font-family: "Recursive", sans-serif;
    border-radius: 8px;
    margin: 5px auto;
    transition: all 0.3s;
    box-shadow: 0 4px 8px var(--negro);
}
