.grupo2{
  display: flex;
  width: 400px;
  height: 50px;
  margin: 30px auto;
  justify-content: space-around;
}
.botones__modificacion1{
  background-color: var(--blanco);
  border: solid 1px var(--colorB);
  width: 100px;
  font-family: "Inter", sans-serif;
  font-size: 15px;  
}
.botones__modificacion1:hover{
  background-color: var(--colorA);
  color: var(--colorD);
  transition: all 0.4s;
  font-size: 20px;
  border: solid 1px;
}