.grupo1{
  display: flex;
  width: 400px;
  height: 50px;
  margin: 10px auto;
  justify-content: space-around;
}
.botones1{
  background-color: var(--blanco);
  border: solid 1px;
  width: 100px;
  font-family: "Inter", sans-serif;
  font-size: 15px;  
}