.grupo5{
    display: flex;
    width: 600px;
    height: 80px;
    margin: 40px auto;
    justify-content: space-around;
    border-radius: 20px;
    background-color: var(--colorD);
    padding: 10px;
    box-shadow: 0 4px 8px var(--negro);
}
.botones__modificacion4{
    background-color: var(--blanco);
    border: solid 3px var(--colorB);
    width: 80px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: var(--colorC);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.botones__modificacion4:hover{
    border: 0;
    background: var(--colorB);
    color: var(--colorD);
    border-radius: 10px;
    padding: 16px 30px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 0 4px var(--blanco), 0 0 0 8px var(--colorB);
}