.grupo3{
    display: flex;
    width: 400px;
    height: 50px;
    margin: 30px auto;
    justify-content: space-around;
}
.botones__modificacion2{
    background-color: var(--colorA);
    color: var(--colorD);
    border: solid 2px var(--blanco);
    width: 100px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    border-radius: 20px;
    transition: all 0.3s ;
}
.botones__modificacion2:hover{
    background-color: var(--colorC);
    color: var(--colorA);
    border: solid 2px var(--colorA);
    font-size: 20px;
    box-shadow: 0 4px 8px var(--negro);
}